<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2>Users info</h2>
        <% if @user.errors.any? %>
        <h3><%= @user.errors.count %>errors prohibited this obj from being saved:</h3>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
        <% end %>
      <div clalss="form-group">
        <%= form_with model: @user do |f| %>
        <label>Name</label>
          <%= f.text_field :name, class: 'form-control mb-3' %>
        <label>Image</label>
          <%= f.file_field :profile_image, class: 'form-control-file mb-3' %>
        <labe>Introduction</label>
          <%= f.text_area :introduction, class: 'form-control mb-3' %>
          <%= f.submit "Update User", class: 'btn btn-secondary text-decoration-none text-light' %>
        <% end %>
      </div>
    </div>
  </div>
</div>