<div>
  <%= flash[:notice] %>
</div>

<h1>User info</h1>
<div>
  <%= image_tag @user.get_profile_image(100,100) %>
  <strong>name: <%= @user.name %></strong>
  <strong>introduction: <%= @user.introduction %></strong>
</div>
  <%= render 'books/new', book: @book %>

<% @books.each do |book| %>
<div>
  <%= image_tag book.user.get_profile_image(70,70) %>
  <%= book.title %>
  <%= book.body %>
</div>
<% end %>