<div>
  <%= flash[:notice] %>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-3 mr-30px">
      <div class="row">
        <div class="col">
          <%= render 'userinfo', user: @user %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= render 'books/new', book: @book %>
        </div>
      </div>
    </div>
    <div class="col-lg-8 offset-md-1">
      <h2>Books</h2>
        <% @books.each do |book| %>
        <div>
          <%= image_tag book.user.get_profile_image(70,70) %>
          <%= book.title %>
          <%= book.body %>
        </div>
        <% end %>
    </div>
  </div>
</div>