<div>
  <%= flash[:notice] %>
</div>

<h1>User info</h1>
  <%= render 'userinfo', user: @user %>
  <%= render 'books/new', book: @book %>

<% @books.each do |book| %>
<div>
  <%= image_tag book.user.get_profile_image(70,70) %>
  <%= book.title %>
  <%= book.body %>
</div>
<% end %>