<div>
  <%= flash[:notice] %>
</div>

<%= render 'users/userinfo', user: @bookdt.user %>
<%= render 'new', book: @book %>

<h1>Book detail</h1>
<p><%= @bookdt.title %></p>
<p><%= @bookdt.body %></p>
<% if @bookdt.user == current_user %>
  <%= link_to "Edit", edit_book_path(@bookdt.id) %>
  <%= link_to "Destroy", book_path(@bookdt), method: :delete, "data-confirm" => "本当に消しますか？" %>
<% end %>