<div>
  <%= flash[:notice] %>
</div>

<%= render 'users/userinfo', user: @booki.user %>
<%= render 'new', book: @book %>

<h1>Book detail</h1>
<p><%= @booki.title %></p>
<p><%= @booki.body %></p>
<% if @booki.user == current_user %>
  <%= link_to "Edit", edit_book_path(@booki.id) %>
  <%= link_to "Destroy", book_path(@booki), method: :delete, "data-confirm" => "本当に消しますか？" %>
<% end %>