<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/61db49b2cf.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/">Bookers</a>
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li class="nav-item" style="margin-right: 10px;">
                <%= link_to user_path(current_user), class: 'text-decoration-none text-light btn-default' do %>
                  <i class="fa-solid fa-house"></i>
                  <span>Home</span>
                <% end %>
              </li>
              <li class="nav-item" style="margin-right: 10px;">
                <%= link_to users_path, class: 'text-decoration-none text-light btn-default' do %>
                  <i class="fa-solid fa-users"></i>
                  <span>Users</span>
                <% end %>
              </li>
              <li class="nav-item" style="margin-right: 10px;">
                <%= link_to books_path, class: 'text-decoration-none text-light btn-default' do %>
                  <i class="fa-solid fa-book-open"></i>
                  <span>Books</span>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to destroy_user_session_path, method: :delete, class: 'text-decoration-none text-light btn-default' do %>
                  <i class="fa-solid fa-right-to-bracket"></i>
                  <span>Log out</span>
                <% end %>
              </li>
            <% else %>
              <li class="nav-item" style="margin-right: 10px;">
                <%= link_to root_path, class: 'text-decoration-none text-light btn-default' do %>
                  <i class="fa-solid fa-house"></i>
                  <span>Home</span>
                <% end %>
              </li>
              <li class="nav-item" style="margin-right: 10px;">
                <%= link_to about_path, class: 'text-decoration-none text-light btn-default' do %>
                  <i class="fa-solid fa-link"></i>
                  <span>About</span>
                <% end %>
              </li>
              <li class="nav-item" style="margin-right: 10px;">
                <%= link_to new_user_registration_path, class: 'text-decoration-none text-light btn-default' do %>
                  <i class="fa-solid fa-user-plus"></i>
                  <span>Sign up</span>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_user_session_path, class: 'text-decoration-none text-light btn-default' do %>
                  <i class="fa-solid fa-right-to-bracket"></i>
                  <span>Log in</span>
                <% end %>
              </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <% flash.each do |message_type, message| %>
    <%= content_tag :div, message, class: message_type %>
    <% end %>

    <%= yield %>

    <p class="text-center m-5">CopyRight Infratop.inc</p>
  </body>
</html>
